@import url("../../colors/GlobalColors.css");

.error {
  width: 100vw;
  height: 80vh;
  display: flex;
  font-size: 28px;
  flex-direction: column;
  color: var(--black-color);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error a {
  font-size: 25px;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--purple-color);
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  margin-top: 15px;
}
